#add-user-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: min(300px, calc(100% - 20px));
  text-align: center;
}

#add-user-form label {
  display: flex;
}

#add-user-form label span {
  flex-basis: 100px;
  flex-grow: 1;
  text-align: right;
}

#add-user-form label input {
  width: 100%;
  flex-shrink: 1;
}

li:not(:hover) button {
  opacity: 0.15;
}
